
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; 
}.container {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    background-color:bisque; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; 
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555; 
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.total {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #2e8b57; 
}
select{
    width: 104%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}